@font-face {
  font-family: "ProximaNova";
  src: url("./font/ProximaNova-Bold.otf");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "ProximaNova";
  src: url("./font/ProximaNova-Reg.otf");
  font-style: normal;
  font-weight: normal;
}

.orange {
  color: #FF7548;
}

.page-section {
  display: block;
  float: right;
  margin-right: 1em;
}

.page-section a {
  font-size: 1.2em;
  opacity: 0.4;
  color: black;
  text-decoration: none;
  letter-spacing: 1.3px;
  line-height: 3em;
}

.page-section a:hover, .page-section .selected {
  opacity: 0.6;
  color: black;
}

.page-section a:focus {
  outline: 0;
}

.page-title a {
  font-weight: bold;
  letter-spacing: 1.5px;
  text-decoration: none;
  color: inherit;
}

.page-title {
  margin-bottom: 0;
  float: left;
}

.top-nav,
.page-body {
  width: 90%;
  margin: auto;
  padding: 3em 0;
}

.page-body.content {
  width: 83%;
  display: flex;
}

.top-nav {
  width: 83%;
}

.body-wrapper {
  width: 90%;
  margin: auto;
}

.page-desc {
  font-weight: bold;
  color: #ddd;
  letter-spacing: 1px;
}

.page-image {
  max-width: 100%;
  margin-bottom: 1em;
}

.page-art-desc {
  letter-spacing: 0.6px;
  opacity: 0.4;
}

.carousel {
  margin-bottom: 35px;
}

.carouselImage {
  width: 100%;
}

.mobile-nav {
  display: none;
}

.collection-wrapper {
  margin-bottom: 3em;
  width: 33%;
  display: inline-block;
  text-align: center;
}

.collection-image-wrapper {
  margin: 0 auto;
  width: 75%;
  position: relative;
  overflow: hidden;
  margin-bottom: 1em;
}

.collection-image-wrapper:hover .collection-image {
  transform: scale(1.06);
}

.collection-image-wrapper:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.collection-image a {
  text-decoration: none;
  color: inherit;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.collection-image {
  background-color: aliceblue;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: transform 0.18s ease-in-out;
  transform: scale(1);
}

.collection-name {
  margin-bottom: 0;
  opacity: 0.6;
}

.content-name {
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.6px;
  margin-bottom: 0;
  margin-top: 3rem;
}

.content-desc {
  text-align: center;
  opacity: 0.6;
  margin-bottom: 6rem;
}

.work-wrapper {
  padding-bottom: 3rem;
  text-align: center;
}

.link-back {
  text-align: center;
}

.link-back a{
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

.content-block {
  margin-left: 5%;
}

.photo-block {
  width: 50%;
}

.photo-block img {
  max-width: 100%;
}

.content-block h4 {
  font-weight: bold;
  letter-spacing: 0.6px;
  margin-bottom: 1rem;
}

.content-block p {
  opacity: 0.6;
  letter-spacing: 0.1px;
}

@media(max-width: 1000px){
  .top-nav {
    display: none;
  }
  
  .mobile-nav {
    position: fixed;
    left: 5vw;
    right: 5vw;
    top: 0;
    display: block;
    text-align: left;
    height: 90px;
    overflow: hidden;
    background-color: white;
    z-index: 1000;
    transition: height 0.5s;
  }
  
  .page-body {
    padding-top: 7em;
  }
  
  .page-body.content {
    width: 90%;
    flex-direction: row;
  }
  
  .page-section {
    clear: both;
    float: none;
    text-align: center;
    height: 35px;
  }
  
  .page-section a {
    font-weight: bold;
  }
  
  .mobile-nav[aria-expanded="true"] {
    height: 270px;
  }
  
  .menu-button {
    position: fixed;
    top: 24px;
    right: 5vw;
    height: 40px;
    cursor: pointer;
    transition: transform 0.5s;
  }
  
  .menu-button[aria-expanded="true"] {
    transform: rotateZ(270deg);
  }
  
  .menu-section {
    margin-top: 70px;
  }
  
  .menu {
    height: 100%;
  }
  
  .page-title {
    position: fixed;
    top: 0;
    left: 5vw;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .gradient {
    position: fixed;
    left: 0;
    right: 0;
    top: 60px;
    height: 30px;
    transition: top 0.5s;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    z-index: 1000;
  }
  
  .mobile-nav[aria-expanded="true"] .gradient {
    top: 240px;
  }
  
  .collection-wrapper {
    width: 50%;
  }
}

@media(max-width: 550px){
  .mobile-nav {
    left: 0;
    right: 0;
  }
  
  .page-title {
    margin-top: 27px;
    font-size: 3rem;
    left: 5vw;
  }
  .menu-button {
    height: 30px;
    top: 28px;
    right: 5vw;
  }
  
  .collection-wrapper {
    width: 100%;
    display: block;
    margin: 0;
  }
  
  .page-body.content {
    flex-direction: column;
  }
  
  .content-block,
  .photo-block {
    width: 100%;
    margin-left: 0;
  }
  
  .photo-block {
    margin-bottom: 2rem;
  }
}